/* This is the start of my css. */

body {
font-family: 'Oxygen', sans-serif;
font-size: 16px;
font-weight: 300;
margin: 0;
}

/* This is header area. */

header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
}

header span {
    margin: 0;
    color: #024873;
    font-weight: 700;
    font-size: 1.8rem;
}

/* This is navigation area. */

nav {
    background-color: #f2b705;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #024873;
    font-weight: 700;
    display: block;
    padding: .8rem 2rem;
}

nav li.active a {
    background-color: #024873;
    color: #f2b705;
}

nav a:hover {
    color: #ffffff;
}

/* This is main stuff here. */

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #b40412;
}

main h2 {
    color: #024873;
    margin-bottom: .2rem;
}

main p{
    color: #333;
    margin: 0;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
    list-style-type:lower-alpha;
}

main dl dt{
    color: #b40412;
    font-weight: 700;
}

main dl dd{
    color: #024873;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type:circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style:normal;
    background-color: #f2b705;
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #024873;
    border-radius: .9rem;
}

/* This is footer stuff here. */

footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
}